#arh {
  margin-bottom: 2em;
}

#arh_inner {
  border: 1px solid #ebebeb;
  padding: 10px;
}

#arh table {
  text-align: center;
  width: 100%;
}

#arh table tr {
  border-bottom: 1px dotted #ccc;
}

#arh table tr:nth-child(2n+1) {
  background-color: #fafafa;
}

#arh table td {
  padding-left: 15px;
  padding-right: 15px;
}

.arh_button + .arh_button {
  margin-left: 15px;
}

#arh #arh_button-row {
}

.arh_file-pending {
  font-style: italic;
}

.arh_file-approved {
}

.arh_file-disabled {
  text-decoration: line-through double !important;
}
