body {
  font: message-box;
}

:root:not(.is-admin) .admin-only {
  display: none;
}

label {
  display: block;
  font-size: 1.25em;
  line-height: 22px;
  color: #333;
}

label.expand {
  display: flex;
}

label.expand input {
  flex: 1;
}

#canned {
  display: grid;
  grid: 21px auto / 40% 21px auto;
  grid-gap: 10px;
  grid-template-areas: "label  delete  value"
                       "select select  value";
}

#canned-label {
  grid-area: label;
}

#canned-value {
  grid-area: value;
  font: message-box;
}

#canned-select {
  grid-area: select;
}

#canned-delete {
  grid-area: delete;
  padding: 0;
  width: 21px;
}

#canned-select .canned-option-new {
  opacity: 0.54;
}
